sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  padding: 0;
  margin: 0;

  width: 15vw;
  min-width: 180px;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.733);

  z-index: 2;

  transition-property: left, background-color;
}

sidebar .ico {
  font-size: 38px;
  color: white;
  padding: 15px;

  /* Fixes issue where only these icons can be selected in Firefox */
  -moz-user-select: none;
}

/*============ HIDING ============*/

sidebar.hidden { left: -15vw; }
sidebar.cssLacksAMaxFunction { left: -180px !important; }

/*============ NAVIGATION ============*/

sidebar #nav {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

sidebar #nav li {
  width: 100%;
  height: 48px;
  margin: 0;
}

sidebar #nav li a {
  width: calc(100% - 30px);
  padding: 15px;
  float: right;

  color: white;
  font-size: 16px;
  text-align: right;
  font-weight: bolder;
  text-decoration: none;
}
