sect a {
  font-weight: 900;
  text-decoration: none;
}

sect a:hover {
  background: black;
  color: white;
  padding: 5px;
}

sect ul {
  padding: 0;
  margin: 0;
  list-style: inside;
}

sect p, sect li {
  margin-left: 20vw;
  margin-right: calc(17vw + 24px);
  transition-property: margin-left;
}

sect.fill p, sect.fill li {
  margin-left: 5vw !important;
}

h1 {
  font-size: 1.5em;
  margin: 2vh 2vh 2vh 20vw;
  font-weight: 900;
  transition-property: margin-left, font-size;
  overflow-y: hidden;
}

sect.fill h1 {
  margin-left: 5vw !important;
}

sect.fill h1.root {
  font-size: 2.5em !important;
}
